* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family:'Montserrat', sans-serif;
}
img {
    max-width: 100%;
}
main {
    width:100%;
    height: 100vh;
    
}
/* UTILITIES */
:root {
    --sidebar-width:20px;
    --bottombar:120px;
    --main-color: darkgray;
    --topbar:10vh;
}
.container {
    width:100%;
    height: 100vh;
}
h2, h3 {
    color:white;
}
.flex {
    display: flex;
}
.white {
    color:white;
}
a{
    text-decoration: none;
}
/* SIDEBAR */
#sidebar {
    width:12vw;
    height:calc(100vh - var(--bottombar));
    background-color: black;
    padding: 10px;
    flex-direction: column;
    justify-content: space-between;
    z-index: 998;
}
.side-top {
    width:100%;
    height: 90%;
}
.icon {
    width:100%;
    height: 100px;
}
#icon {
    width: 100%;
    padding: 3rem 0;
}

#sidebar .side-top a {
    font-size: 1.4rem;
    text-decoration: none;
    color:inherit;
}
#sidebar li{
    padding: .3rem 0;
    color:var(--main-color);
    line-height: 3rem;
    list-style-type: none;
    
}
#sidebar h3 {
    padding: 2rem 0 1rem;
}
#sidebar i {
    padding-right: 10px;
    font-size: 2rem;
}
.side-bottom {
    height: 10%;
    width:100%;
}

.side-bottom img {
    height:100%;

}
.side-bottom .user {
    width:15%;
    padding-top: 1rem;
    margin-right: 1rem;
    background-color: gray;
    width:50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.side-bottom span {
    line-height: 1rem;
    font-size: 1.6rem;
    color: white;
}
.side-bottom hr {
    margin: 1.5rem 0
    .5rem;
}
.side-bottom a {
    color: var(--main-color);
}
/* TOPBAR */
#topbar {
    width:calc(100% - var(--sidebar-width));
    height:var(--topbar);
    background-color: rgba(0,0,0,0.5);
    text-align: right;
    position:fixed;
    top: 0;
    right:0;
    z-index: 997;
}
#topbar a {
    line-height: 10vh;
    margin-right: 20px;
    font-size: 1.4rem;
    padding: 10px 25px;
    border: 2px solid white;
    border-radius: 30px;
    color: white;
    letter-spacing: 2px;
}

/* MAIN CONTENT */
.nav {
    width:100%;
    margin:auto;
}
#content {
    width: calc(100% - var(--sidebar-width));
    height: 100vh;
    padding-top: var(--topbar);
    padding-left: var(--sidebar-width);
    overflow: auto;
    background-color: #141922;
}
.nav .flex {
    justify-content: center;
    list-style-type: none;
    width: 50%;
    margin:auto;
}
.nav .flex li {
    width: calc(100% / 6);
    margin-right: 10px;
    line-height: 3rem;
    text-align: center;
    padding-top: 2rem;
}
.video {
    width:calc(100% / 6);
    height:200px;
    background-color: white;
    margin: 1rem;
}
.img {
    width:100%;
    height:70%;
    background-color: gray;
}
/* BOTTOMBAR */
#bottombar {
    width:100%;
    height: var(--bottombar);
    background-color: #282828;
    position: fixed;
    bottom:0;
    left:0;
    z-index: 999;
    justify-content: space-between;
    padding: 7.5px;
}
.btm-left {
    width: 200px;
    height:100%;
    background-color: lime;
}
.btm-right {
    width: 200px;
    height:100%;
    background-color: lime;
}
.btm-centre {
    width: 300px;
    height:100%;
    background-color: fuchsia;
    flex-shrink: 3;
}
/* MEDIA QUERIES */
/* MEDIUM DESKTOP */
@media screen and (max-width:1100px) {
    .video {
        width:calc(100% / 4 - 4rem);
    }
    .row .flex {
        flex-wrap: wrap;
    }
    .nav .flex {
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}
/* TABLET */
@media screen and (max-width:700px) {
    .video {
        width:calc(100% / 2 - 2rem);
    }
    .nav .flex li {
        width: calc(100% / 3 - 3rem);
    }
}
/* MOBILE */
@media screen and (max-width:600px) {
    #sidebar {
        width:50px;
        font-size: .5rem;
    }
    .lists {
        display:none;
    }
    .nav .flex li {
        width: calc(100% / 4 - 2rem);
    }
    .btm-centre {
        flex-shrink: 1;
    }
}
