* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family:'Montserrat', sans-serif;
}
img {
    max-width: 100%;
}
main {
    width:100%;
    height: 100vh;
    
}
/* UTILITIES */
:root {
    --sidebar-width:15vw;
    --bottombar:80px;
    --main-color: darkgray;
    --topbar:10vh;
    --icons: 1.6rem
}
.container {
    width:100%;
    height: 100vh;
}
h2, h3 {
    color:white;
}
.flex {
    display: flex;
}
.white {
    color:white;
}
a{
    text-decoration: none;
}
li {
    list-style: none;
}
#mobile {
    display:none;
}
/* SIDEBAR */
#sidebar {
    width:200px;
    height:calc(100vh - var(--bottombar));
    background-color: black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 998;
}
.side-top {
    width:100%;
}
.icon {
    width:100%;
}
#icon {
    width: 70%;
    padding: 1rem 0 2rem;
}

#sidebar .side-top a {
    font-size: 1.2rem;
    text-decoration: none;
    color:inherit;
}
#sidebar li{
    padding: .3rem 0;
    color:var(--main-color);
    line-height: 2rem;
    list-style-type: none;
    
}

#sidebar li :hover{
    color:white;
}

#sidebar h3 {
    padding: 1.5rem 0 1rem;
}
#sidebar .side-top i {
    padding-right: 10px;
    font-size: 2rem;
}
.side-bottom {
    width:100%;
}
.side-bottom i {
    margin-right: 5px;
}

.side-bottom img {
    height:80%;

}
.side-bottom .user {
    width:10%;
    padding-top: 1rem;
    margin-right: 1rem;
    background-color: gray;
    width:40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.side-bottom span {
    line-height: 1rem;
    font-size: 1.2rem;
    color: white;
}
.side-bottom hr {
    margin: 1rem 0;
}
.side-bottom a {
    color: var(--main-color);
}
/* TOPBAR */
#topbar {
    width:100%;
    height:var(--topbar);
    background-color: rgba(0,0,0,0.5);
    text-align: right;
    position:fixed;
    top: 0;
    left:0;
    z-index: 997;
}
#topbar a {
    line-height: 10vh;
    margin-right: 20px;
    font-size: 1rem;
    padding: 10px 25px;
    border: 2px solid white;
    border-radius: 30px;
    color: white;
    letter-spacing: 2px;
    transition: .5s;
}
#topbar a:hover {
    border: 0px;
    color: black;
    background-color: white;
    font-size: 1.4rem;

}

/* MAIN CONTENT */
.nav {
    width:100%;
    margin:auto;
}
#content {
    width: 100%;
    height: 100vh;
    padding-top: var(--topbar);
    padding-left: 20px;
    padding-bottom: var(--bottombar);
    overflow: auto;
    background-color: #141922;
}
.nav .flex {
    justify-content: center;
    list-style-type: none;
    width: 50%;
    margin:auto;
}
.nav .flex li {
    width: calc(100% / 6);
    margin-right: 10px;
    line-height: 3rem;
    text-align: center;
    padding-top: 2rem;
}
.nav a{
    color: var(--main-color)
}
.nav li :hover{
    color: white;
    border-bottom:2px solid lime;
    padding-bottom: 1rem;
}
#content h2 {
    padding:2.5rem 0 1rem;
    font-size: 2rem;
}
.video {
    width:calc(100% / 6 - 2rem);
    margin: 1rem;
    text-align: center;

}
.video i  {
    position: absolute;
    top:50%;
    left:50%;
    font-size: 5rem;
    color: white;
    transform: translate(-20px, -20px);
}

.movie {
    position: relative;
}

.video h3{
    font-size: 1.8rem;
}

.selected {
    filter: brightness(30%);
}
.unselected {
    filter: brightness(100%);
    position:absolute;
    top:0;
    left:0;
    z-index: 995;
}
.unselected:hover {
    display: none;
}
.movie i {
    cursor: pointer;
}
#content h4 {
    color: var(--main-color);
    font-size: 1.6rem;
    padding: 1rem 0;
}
#content .artists img {
    border-radius: 50%;
}
/* BOTTOMBAR */
#bottombar {
    width:100%;
    height: var(--bottombar);
    background-color: #282828;
    position: fixed;
    bottom:0;
    left:0;
    z-index: 999;
    justify-content: space-between;
    padding: 7.5px;
}

.btm-left .flex {
    align-items: center;

}
.btm-left {
    width: 300px;
}
.btm-left img {
    height: var(--bottombar);
    margin-right: 5px;

}
.btm-left h4 {
    color:white;
    font-size: 1.6rem;
}
.btm-left {
    color: var(--main-color);
    font-size:1.2rem;
    width:300px;
}

.fav *{
    color: var(--main-color);
    font-size: var(--icons);
}
.fav  {
    padding-left:10px;
    gap: 10px;
    justify-content: space-between;
}
.btm-centre {
    width: 33%;
}

.console a {
    font-size: 2rem;
    color: var(--main-color);
    margin: 20px;
}
.console .flex {
    margin-bottom: 10px;
    justify-content: center;
}
.timeline::after {
    content:"";
    height: 2px;
    width:85%;
    background-color: var(--main-color);
    border-radius: 10px;
    text-align: center;
}
.timeline::before {
    content:"";
    height: 2px;
    width:15%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    position:absolute;
    top: 0;
    left:30px;
}
.timeline {
    width:100%;
    line-height: .4rem;
    position: relative;
}
.timeline h4{
    color:white;
    letter-spacing: 1.5px;

}
.timeline :last-child {
    position: absolute;
    bottom:0;
    left:90%;
}
.timeline :first-child {
    padding-right:10px;
}

.btm-right {
    width: 300px;
}
.btm-right .flex {
    justify-content: flex-end;
    align-items: center;
}

.btm-right a {
    color:white;
    font-size: var(--icons);
    margin-right: 10px;
    line-height: 80px;
}
.btm-right .flex::after {
    content:"";
    height: 2px;
    width:100px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}
/* MEDIA QUERIES */
/* MEDIUM DESKTOP */
@media screen and (max-width:1100px) {
    .video {
        width:calc(100% / 4 - 4rem);
    }
    .row .flex {
        flex-wrap: wrap;
    }
    .nav .flex {
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}
/* TABLET */
@media screen and (max-width:700px) {
    .video {
        width:calc(100% / 2 - 2rem);
    }
    .nav .flex li {
        width: calc(100% / 3 - 3rem);
    }
    .fav {
        flex-direction: column;
    }
}
/* MOBILE */
@media screen and (max-width:600px) {
    #sidebar {
        width:50px;
        font-size: .5rem;
    }
    .nav .flex li {
        width: calc(100% / 4 - 2rem);
    }
   #sidebar {
    display:none;
    }
    #mobile {
        width:50px;
        background-color: black;
        height: calc(100vh - var(--bottombar));
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 0 2rem;
        z-index: 998;
    }
    #mobile i {
        color:var(--main-color);
        font-size: 2.5rem;
        margin: 1.5rem;
    }
    #mobile img{
        width:4rem;
    }
    #mobile li{
        text-align: center;
    }
}
